footer{
    border: 2px solid blue;
    width: 80%;
    margin: 0 auto;
}
nav{
    width: 60%;
    max-width: 30rem;
    border: 1px solid red;
    margin: 0 auto;
}
nav ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border: 1 px solid green;
  width: 100%;
}

svg{
    display: inline-block;
    width: 25%;
}