:root{
    --primary-color: #013F62;
    --white-color:#fff;
    --input--background-color:#D9D9D9;
    --link-color:#0172B2;
}
* {
  box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.header{
    text-align: center;
    margin-top: 50px;
}
.header h3{
    color: var(--primary-color);
    font-family: Lobster;
    font-size: 3.5vw;
}

@media screen and (max-width: 600px){
    header h3{
    font-size: 4vw;
}

}