:root{
     --primary-color: #013F62;
    --white-color:#fff;
    --input--background-color:#D9D9D9;
    --link-color:#0172B2;
    --error:#D93025;
    --input-text:#212121;
}
.header{
    display: flex;
    justify-content: space-between;
    max-width:100%;
    align-items:center;
    margin-top: 10px;
}

header h3{
    color:var(--primary-color);
    margin-left:20px;
    font-family: Lobster;
}
header svg{
    vertical-align: middle;
    color: var(--primary-color);
}

header p{
    display: flex;
    justify-content: space-between;
    margin-right:30px;
    border: none;
    /* border-radius: 50px; */
    padding-bottom: 6px;
    /* padding-top: 6px;
    padding-left: 25px;
    padding-right: 25px; */
    /* background-color: var(--primary-color);
    color: var(--white-color); */
}
 /* span{
    display: inline-block;
    flex-grow: 2;
} */
header a{
    text-decoration: none;
    color: var(--white-color);
}