:root{
    --primary-color: #013F62;
    --white-color:#fff;
    --input--background-color:#D9D9D9;
    --link-color:#0172B2;
}
* {
  box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}


/* .header{
>>>>>>> 0d3d8b1 (added logic in the registration page)
    text-align: center;
    margin-top: 50px;
}
.header h3{
    color: var(--primary-color);
    font-family: Lobster;
    font-size: 2vw;

}
} */


form h4{
    font-family: Lobster;
    color: var(--primary-color);
    text-align: center;
    font-size: 2.5vw;
    
}
.form-container{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.form-container .input-wrapper, .select-wrapper{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-container .input-wrapper input,.form-container .input-wrapper span, .select-wrapper select{
    border-radius: 50px;
    background-color: var(--input--background-color);
    padding: 1%;
    
}
.form-container .input-wrapper span svg,.form-container .input-wrapper span label, .form-container {
    color: var(--primary-color);
}
.register{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50px;
    padding-top:1%;
    padding-bottom:1% ;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 20px;
}

@media screen and (max-width:612px) {
    .header h3{
    font-size: 3.5vw;
}

form h4{
    font-size: 4vw;   
}
   .form-container .input-wrapper input,.form-container .input-wrapper span, .select-wrapper select{
    
    padding: 2%;
    
} 
}