:root{
    --primary-color: #013F62;
    --white-color:#fff;
    --input--background-color:#D9D9D9;
    --link-color:#0172B2;
}
body{
    margin:o;
    padding:0;
}

.header{
    text-align: center;
    margin-top: 50px;
}
.header h3{
    color: var(--primary-color);
    font-family: Lobster;
    font-size: 2vw;
}

form h4{
    font-family: Lobster;
    color: var(--primary-color);
    text-align: center;
    font-size: 2.5vw;
}

.form_container{
    display: grid;
    grid-template-columns: 30% 45% 25%;
}
form input, select{
    border-radius: 50px;
    background-color: var(--input--background-color);
    color: var(--white-color);
}
form .pers_infos input,form .pers_infos select {
    display:block;
    margin-bottom: 10px; 
    padding-top: 2%;
    padding-bottom:2% ;
    padding-right:15% ;
    padding-left: 15%;
}
.input-wrapper {
  display: flex;
  align-items: center;
}
.input-wrapper input {
  border:none;
  outline: none; /* Removes the inner border on click */
  flex: 1;
}
.input-wrapper svg {
  color: var(--primary-color);
  transform: translate(32px,-5px);
}
.input-wrapper label {
  color: var(--primary-color);
  transform: translate(35px,-5px);
  font-size:0.8em;
}
.select-wrapper{
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: translateX(30px);
}

.accept_condition{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.submit_registration{
    margin-top: 20px;
    text-align: center;
   
}

.submit_registration input{
    padding-top: 2%;
    padding-bottom:2% ;
    padding-right: 10%;
    padding-left: 10%;
    background-color: var(--primary-color);
    color: var(--white-color);
}

a{
    color: var(--link-color);
}


/* Design for Mobile */

@Media screen and (max-width:612px){
    .form_container{
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
    .header h3{
    font-size: 3vw;
    }

    form h4{
        font-size: 3.5vw;
    }

  
   .accept_condition{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    font-size: 0.8em;
    }
    .accept_condition input {
        margin-right: 5px;
    }
}