:root{
    --primary-color: #013F62;
    --white-color:#fff;
    --input--background-color:#D9D9D9;
    --link-color:#0172B2;
    --error:#D93025;
    --input-text:#212121;
    --font--1:Linden Hill;
    --input-background--2:#641314;
}
* {
  box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

main{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    color:var(--primary-color);
    font-size: 1.8rem;
}

.setting-wrapper{
padding: 20px;
margin-bottom: 5px;
}


label{
    font-family:var(--font--1);
    font-size: 1.3rem;
    margin-bottom: 2px;   
    padding: 2px;
}

label,span{
    display: block;
    margin-bottom: 5px;
    padding: 2px;
}

span{
    opacity: 0.8;
    font-size: 0.8em;
    margin-left: 10px;
    margin-bottom: 7px;
}

input[type="submit"]{
    display: block;
    margin-left: 15px;
    background-color: var(--primary-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px ;
    padding-right:15px ;
    color: var(--white-color);
    border-radius: 50px;
    font-size: 0.8em;
}


.rate{
    border: 2px solid var(--link-color);
    background-color: var(--primary-color);
    border-radius: 12px;
    margin-bottom: 15px;
    margin: 0 auto;
}

.rate h5{
    text-align: center;
    color: var(--input--background-color);
}

.rate p{
    text-align: center;
    font-size: 0.8em;
}

.stars i {
    color: #D9D9D9; /* Default light gray from your image */
    cursor: pointer;
    transition: color 0.2s;
}

.stars i:hover,
.stars i:hover ~ i {
    color: #FFD700; /* Gold color on hover */
}

input[id="logout"]{
    background-color: var(--input-background--2);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:130px ;
    padding-right:110px ;
    color: var(--white-color);
    border-radius: 50px;
    font-size: 0.8em;   
    
}
.form-container .input-wrapper{
    margin-bottom: 5%;
}


.form-container input, .form-container button{
    border-radius: 50px;
}

.form-container input{
padding-top:5px ;
padding-bottom:5px ;
padding-right:50px ;
padding-left:50px ;
background-color: var(--input--background-color);
color: var(--input-text);

}

.form-container button{
    padding-top:5px ;
    padding-bottom:5px ;
    padding-right:10px ;
    padding-left:10px ;
    background-color: var(--input-background--2);
    color: var(--white-color);
}

.submitbut{
width: 60%;
max-width: 200px;
margin: 0 auto;
}
.logoutbut{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

button[name="update"]{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.hidden{
    display: none;
}

.dark-theme {
    background-color: #121212;
    color: white;
}

.error{
    color:var(--error);
}